server:
  port: 8081
  servlet:
    context-path: /crud
    
spring:
  application:
    name: ms-crud
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
      dialect: org.hibernate.dialect.MySQL8Dialect
#     dialect: org.hibernate.dialect.MySQL5InnoDBDialect  
  jmx:
    enabled: false
  datasource:
    url: jdbc:mysql://localhost:3306/escoladb?allowPublicKeyRetieval=true&sslMode=DISABLED&useSSL=false&serverTimezone=America/Sao_Paulo
    username: root
    password: root

  rabbitmq:
    host: localhost 
    port: 5672
    username: admin
    password: admin 
    
crud:
  rabbitmq:
    exchange: crud.exchange
    routingkey: crud.produto.routingkey