server:
  port: 8082
  servlet:
    context-path: /pagamento
    
spring:
  application:
    name: ms-pagamento
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
      dialect: org.hibernate.dialect.MySQL8Bialect  
#     org.hibernate.dialect.MySQL5Dialect
  jmx:
    enabled: false
  datasource:
    url: jdbc:mysql://localhost:3306/pagamentodb?createDatabaseIfNotExist=true&allowPublicKeyRetieval=true&sslMode=DISABLED&useSSL=false&serverTimezone=America/Sao_Paulo
    username: root
    password: root
    
  rabbitmq:
    host: localhost 
    port: 5672
    username: admin
    password: admin
    
crud:
  rabbitmq:
    exchange: crud.exchange
    queue: crud.produto.queue
    
logging:
  file:
    name: ./log/appfile.log
    
